@model EventEase.Models.Venue

@{
    ViewData["Title"] = "Venue Details";
}
<h2>Venue Details</h2>

<div class="container mt-5">
    <div class="card shadow rounded-4">
        <div class="card-header bg-dark text-white">
            <h2>@Model.VenueName</h2>
        </div>
        <div class="card-body">
    <p><strong>Location:</strong> @Model.Location</p>
    <p><strong>Capacity:</strong> @Model.Capacity</p>
    <p><img src="@Model.ImageUrl" alt="Venue image" width="300" /></p>

<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.VenueId">Edit</a> |
<a asp-action="Index" class="btn btn-primary">Back to List</a>

        </div>
      <div>
</div>


    </div>
</div>

